<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Solicitudes de amistad</h2>
		<p>Solicitudes de amistad pendientes:</p>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Email</th>
						<th>Nombre</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="request : ${requestList}">
						<td th:text="${request.sendUserEmail}">email@email.com</td>
						<td th:text="${request.sendUserName}">Nombre del alumno</td>
						<td><a th:href="${'/request/accept/' + request.id}">Aceptar solicitud</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination"/>
	</div>

	<footer th:replace="fragments/footer" />
</body>
</html>